<div class="log">
    <ul class="heroes">
      <li *ngFor="let i of employees"
          [class.selected]="i === selectedEmployee"
          (click)="onSelect(i)" contenteditable="true">
        <span class="badge">{{i.id}}</span>
        |<span> {{i.name}}</span>
        |<span> {{i.organization}}</span>
        |<span> {{i.salary}}</span>
        <button name="delete" (click)="removeit(i)">X</button>
        </li>
    </ul>
    </div>
    <div *ngIf="selectedEmployee">

    <h2>{{selectedEmployee.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedEmployee.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedEmployee.name" placeholder="name">
      </label>
      <label>organization:
          <input [(ngModel)]="selectedEmployee.organization" placeholder="organization">
        </label>
        <label>salary:
            <input [(ngModel)]="selectedEmployee.salary" placeholder="salary">
          </label>
          
      <input type="button" value="add" (click)="addempl(selectedEmployee)" name="add">
    </div>
  
  </div>